node_modules
.node-xmlhttprequest-sync-*
scTopics
allFiredEvents
in_complete_tests
coverage
coverageEnv
coverage.json
.coveralls.yml
.env
.merged/
build/*
test

!node_modules/openzeppelin-solidity/
node_modules/openzeppelin-solidity/*
!node_modules/openzeppelin-solidity/contracts/
